<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="font">Shorten Your URL</h1>
      <div class="bg"></div>
    </div>
  </div>
  <div class="row url mt-5">
    {{> messages}}
  </div>
  <div class="row url mt-5">
    <div class="col-5">
      <form action="/urls" method="POST">
        <input type="text" placeholder="請輸入你的網址" name="originUrl" class=" form-control">
    </div>
    <div class="col-1"><button type="submit" class="btn btn-success">Create</button></div>
    </form>
  </div>
</div>

<div class="container mt-5">
  <div class="row url">
    <h3 class="font">你的縮網址:</h3>
  </div>
  {{#if shortenUrl}}
  <div class="row url mt-3">
    <div class="col-5">
      <input type="text" class="form-control" name="myvalue" id="myvalue" value="{{{shortenUrl}}}" readonly />
    </div>
    <div class="col-1">
      <button class="btn btn btn-success" onclick="copyToClipboard('#myvalue')">Copy</button>
    </div>
  </div>
  {{/if}}
</div>

<script type="text/javascript">
  function copyToClipboard(element) {
    let copyText = document.getElementById("myvalue");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");
    alert("Copied the text: " + copyText.value);
  }
</script>